In [1]:
7*6

42

In [6]:
a=input("enter a student name")
print("print the student name",a)

enter a student namechiku
print the student name chiku

In [6]:
name=input("enter your name\n")
print("good evening ," + name)

enter your name
chiku
good evening ,chiku

In [13]:
letter='''Dear <|NAME|>,

you are selected!

date:<|DATE|>
'''
name =input("Enter Name")
date =input("Enter Date")
letter = letter.replace("<|NAME|>" ,name)
letter = letter.replace("<|DATE|>" ,date)
print(letter)

Enter Namechiku
Enter Date09 apr
Dear chiku,

you are selected!

date:09 apr

In [25]:
st = ("this is a string with double  spaces")

doubleSpaces = st.find("  ")
print(doubleSpaces)

28

In [30]:
letter = "dear chiku, we are glad that you studed well in python!"
print (letter)

modify_letter = "dear\n\t chiku,we are glad\n\t \nthat you studed well in python!"
print (modify_letter)

dear chiku, we are glad that you studed well in python!
dear
	 chiku,we are glad

that you studed well in python!

In [37]:
fruit=["apple","mango",123,1,2,345,0.97]
print(fruit)
print(fruit[2])
print(fruit[1:])
print(fruit[-4:])

['apple', 'mango', 123, 1, 2, 345, 0.97]
123
['mango', 123, 1, 2, 345, 0.97]
[1, 2, 345, 0.97]

In [50]:
l1=[23,45,1,4,7,23,89]
print(l1)
l1.sort()
print(l1)
l1.reverse()
print(l1)
l1.append(88)
l1.append(787)
l1.append(92627)
l1.insert(0,23)
l1.pop(2)
print(l1)
l1.pop(4)
print(l1)

[23, 45, 1, 4, 7, 23, 89]
[1, 4, 7, 23, 23, 45, 89]
[89, 45, 23, 23, 7, 4, 1]
[23, 89, 23, 23, 7, 4, 1, 88, 787, 92627]
[23, 89, 23, 23, 4, 1, 88, 787, 92627]

In [62]:
t1=(1,)
print(t1)
t=(2,4,5,7,8,9,23,456,765,4,254)
print(t.count(4))
print(t.index(23))

(1,)
2
6

In [63]:
f1=input("enter fruit number 1")
f2=input("enter fruit number 2")
f3=input("enter fruit number 3")
f4=input("enter fruit number 4")
f5=input("enter fruit number 5")
f6=input("enter fruit number 6")
f7=input("enter fruit number 7")
MyFruitList=[f1,f2,f3,f4,f5,f6,f7]
print(MyFruitList)

enter fruit number 1mango
enter fruit number 2apple
enter fruit number 3grapes
enter fruit number 4strabery
enter fruit number 5casted apple
enter fruit number 6orange
enter fruit number 7apple
['mango', 'apple', 'grapes', 'strabery', 'casted apple', 'orange', 'apple']